%html
%head
  %title Archipel Berlin Admin

  %link{rel: "stylesheet", type: 'text/css', href: url("stylesheets/bootstrap.min.css")}
  %link{rel: "stylesheet", type: 'text/css', href: url("stylesheets/darkly-bootstrap.min.css")}
  %link{rel: 'stylesheet', type: 'text/css', href: url('stylesheets/custom.css')}
  %link{rel: 'stylesheet', type: 'text/css', href: url('stylesheets/admin.css')}

  %script{src: "https://kit.fontawesome.com/467c6e8217.js", crossorigin: "anonymous"}

%body
  - unless @hide_header
    #header
      = display_partial "layouts/header"
  #content
    .container
      = display_partial 'layouts/alert' if messages.any?
      = yield

%script{src: url('javascripts/jquery-3.4.1.min.js')}
%script{src: url('javascripts/darkly-bootstrap.min.js')}
%script{src: url('javascripts/main.js')}
