/* LOGIN */

#login img.logo {
  width: 60%;
  margin: auto 10%;
}

#login #login-form-content {
  padding: 5vw;
}

/* DASHBOARD */

#dashboard form {
  margin: 0;
}

#dashboard form input#orders-data {
  line-height: 43px;
  color: white;
}

#dashboard table td.actions .icon {
  cursor: pointer;
  margin-right: 5px;
}

#dashboard table tr.order-summary {
  padding: 0.5em;
}
