/* LOGIN */

#login img.logo {
  width: 60%;
  margin: auto 10%;
}

#login #login-form-content {
  padding: 5vw;
}

/* DASHBOARD */

#dashboard form input {
  margin-bottom: 1em;
}

#dashboard form input#orders-data {
  line-height: 43px;
  color: white;
}
