html, body {
  overflow: visible;
}

a:hover {
  text-decoration: none;
}

nav a:focus {
  outline: 0;
}

.fixed-vertical-center {
  width: 80vw;
  margin: 6vw auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}

.upcase {
  text-transform: uppercase;
}

/* overwrite style from darkly.css */
input[type="date"] {
  line-height: unset;
}

#notification {
  position: absolute;
  top: 0;
  width: 100vw;
}

form.center-aligned-form {
  width: 50%;
  margin: 3em auto;
  background-size: cover;
}

form.center-aligned-form input {
  padding-left: 7px;
}
