#sidebar
  #sidebar-wrapper.bg-light.border-right
    .sidebar-heading
      %h4= organization.name
    .list-group.list-group-flush
      %a#dashboard-link.list-group-item.list-group-item-action.bg-light{href: 'dashboard'}
        Dashboard
      %a#requests-link.list-group-item.list-group-item-action.bg-light{href: 'requests'}
        Previous Requests
      %a#locatiions-link.list-group-item.list-group-item-action.bg-light{href: 'locations'}
        Locations
      %a#users-link.list-group-item.list-group-item-action.bg-light{href: 'users'}
        Users
      %a#invoices-link.list-group-item.list-group-item-action.bg-light{href: 'invoices'}
        Invoices
