%section#how-to-join.container.mt-5
  %h4 Congratulations!
  %hr
  %p
    Your account has been created successfully.
  %p
    Please contact your organization, give them the email you registered with
    and they can add you to their account.
