%section#signup.container.mt-5
  %h4 Congratulations!
  %hr
  %p
    Your account has been created successfully.
  %p
    Please contact your organization with the email you registered and they can
    add you to their account.

