%section#users.mt-5
  %h2 Users
  %hr
  - organization.users.each do |user|
    .row.pickup.align-items-center
      .col-1.text-center
        - if user.admin?
          .fas.fa-crown{ title: 'Admin user' }
      .col-3
        = user.nickname
        .small= user.email
      .col-4= user.created_at.to_s
      .col-2
        edit
        - unless user.admin?
          delete

  #add-user.mt-5
    %a{ href: "#" }
      %button.btn.btn-block.btn-outline-dark Add a new User
