#confirmation.container
  %img.d-flex.mx-auto.py-5{src: "https://media.giphy.com/media/dkGhBWE3SyzXW/giphy.gif"}

  .text-center
    %h2 Success!

    %p
      We've received your pickup request! Thanks!

    - if current_user
      %a.btn.btn-block.btn-outline-dark.my-3{href: '/organizations/dashboard'}
        Go to dashboard

    %p
      Please note that this service is in beta, so there might be some bugs here and there.

    %p
      You can always contact us at info@albatrossberlin.com if you have a question.

