%section.container.mt-5
  %h2 Apocalypse Deliveries
  %hr.mb-5
    %form#form{role: 'form'}
      %h4 Pick up from:

      #pickup-location
        .row.mt-3.mb-3
          .col-12.col-lg-3
            %input.form-control{type: "text", name: 'name', required: true, placeholder: 'Business name'}
            .validation-msg.hidden
          .col-12.col-lg-3
            %input.form-control{type: "text", name: 'address', required: true, placeholder: 'Address'}
            .validation-msg.hidden
          .col-12.col-lg-3
            %input#pickup-zip.form-control{type: "text", name: 'zip', required: true, placeholder: 'Zipcode'}
            .validation-msg.hidden
          .col-12.col-lg-3
            %input.form-control{type: "text", name: 'city', required: true, value: 'Berlin', readonly: 'readonly'}
            .validation-msg.hidden

        .row.mb-5
          .col-12.col-lg-6
            %input.form-control{type: "text", name: 'contact', required: true, placeholder: 'Contact name'}
            .validation-msg.hidden
          .col-12.col-lg-6
            %input.form-control{type: "tel", name: 'phone', required: true, placeholder: 'Phone number'}
            .validation-msg.hidden

      %h4 Invoice to:
      #invoice-location
        .row.mt-3.mb-3
          .col-12.col-lg-3
            %input.form-control{type: "text", name: 'name', required: true, placeholder: 'Business name'}
            .validation-msg.hidden
          .col-12.col-lg-3
            %input.form-control{type: "text", name: 'address', required: true, placeholder: 'Address'}
            .validation-msg.hidden
          .col-12.col-lg-3
            %input.form-control{type: "text", name: 'zip', required: true, placeholder: 'Zipcode'}
            .validation-msg.hidden
          .col-12.col-lg-3
            %input.form-control{type: "text", name: 'city', required: true, placeholder: 'City'}
            .validation-msg.hidden

        .row.mb-5
          .col-12.col-lg-6
            %input.form-control{type: "text", name: 'contact', required: true, placeholder: 'Contact name'}
            .validation-msg.hidden
          .col-12.col-lg-6
            %input.form-control{type: "email", name: 'email', required: true, placeholder: 'Email address'}
            .validation-msg.hidden

      #deliveries
        %h4 Deliveries:
        .delivery-requests
          .delivery-request-template.hidden.mt-3
            .delivery-location
              .row.my-3
                .col-12.col-lg-3
                  %input.form-control{type: "text", name: 'name', required: true, placeholder: 'Business name'}
                  .validation-msg.hidden
                .col-12.col-lg-3
                  %input.form-control{type: "text", name: 'address', required: true, placeholder: 'Address'}
                  .validation-msg.hidden
                .col-12.col-lg-3
                  %input.form-control{type: "text", name: 'zip', required: true, placeholder: 'Zipcode'}
                  .validation-msg.hidden
                .col-12.col-lg-3
                  %input.form-control{type: "text", name: 'city', required: true, value: 'Berlin', readonly: 'readonly'}
                  .validation-msg.hidden

              .row.mb-5
                .col-12.col-lg-6
                  %input.form-control{type: "text", name: 'contact', required: true, placeholder: 'Contact name'}
                  .validation-msg.hidden
                .col-12.col-lg-6
                  %input.form-control{type: "tel", name: 'phone', required: true, placeholder: 'Phone number'}
                  .validation-msg.hidden

            %h5.mt-3 Items:
            .items-wrapper.mb-5
              .row.item.my-3
                .col-12.col-lg-4
                  %input.form-control{type: "text", name: 'name', placeholder: 'Description'}
                .col-12.col-lg-4
                  %input.form-control{type: 'number', min: 0, step: 1, name: 'weight_in_grams', placeholder: 'Weight in grams'}
                .col-12.col-lg-4
                  %input.form-control{type: "text", name: 'notes', placeholder: 'Notes'}

            .row.buttons.my-3
              .col-12.text-right
                %button.add-item.btn.btn-outline-dark{onclick: "addItem(this);"}
                  Add item

            .row.my-3
              .col-12.col-lg-6
                %label Available for pickup from:
                .text-center.mt-3
                  .available-from

              .delivery-notes.col-12.col-lg-6
                %label Anything else we need to know?
                .text-center.mt-3
                  %textarea.form-control{name: 'notes'}


        .row.mt-3
          .col-12.text-right
            %button#remove-last-location.btn.btn-block.btn-outline-dark.hidden{onclick: "removeLastDeliveryRequest();"}
              Remove last delivery
            %button#add-location.btn.btn-block.btn-outline-dark{onclick: "addDeliveryRequest();"}
              Add a delivery

    %button.btn.btn-block.btn-outline-dark.my-5{onclick: 'submitData();'} Request pickup
